.hr-thin{
    /* 0.5px */
    border-top:0.03125rem solid;
    margin: 0;
}

.movies{
    padding: 2rem;
    height: auto;
    width: 100%;
}

.mostrarMovies{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    height: auto;
}

.movie-card{
    display: flex;
    flex-direction: column;
    width: 6%;
    font-size: 1em;

}

img:hover{
    transform: scale(1.1);
}