.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Esto son 60px */
    padding-top: 3.75rem ;
    height: auto;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.btn{
    width: 40%;
    max-width: 300px;
}

.form-control{
    width: 100%;
    max-width: 400px;
}

.form-label{
    display: flex;
    width: 52%;
    justify-content:start;
}

.errores{
    color: red;
    /* 14px */
    font-size: 0.875rem;
}